[[source]]
url = "http://mirrors.aliyun.com/pypi/simple/"
verify_ssl = false
name = "aliyun"

[packages]
# click 框架
click = "*"
# setuptools工具
setuptools = "*"
# 跨平台获取系统信息 工具
psutil = "*"
# 处理yaml
pyyaml = "*"
paramiko = "*"

[dev-packages]

[requires]
python_version = "3.7.5"
